{% extends 'base.html' %}
{% block head_title %}{{ head_title }}{% endblock %}
{% load static %}


{% block slider %}

<a href="{% url 'index' %}">
    <img src="{% static 'images/logo.png' %}" class="logo">
</a>
<img src="{% static 'images/2022/edition_2019.jpg' %}">

{% endblock slider %}


{% block content %}

<div class="container" style="flex-wrap:wrap; margin-bottom:5vh">
    <div class="container" style="margin-top:5vh; margin-bottom: 5vh">
        <div class="titre_ordi">
        <h1>- - - - - - - - - - - - - - - - - - - - - - - - &nbsp;VENDREDI 30-08-2019&nbsp; - - - - - - - - - - -
            - - - - - - - - - - - - -</h1>
        </div>
        <div class="titre_tel_small">- - - &nbsp;VENDREDI 30-08-2019&nbsp; - - -</div>
    </div>

    <h2 style="margin-bottom:2vh">Jean-Baptiste GUEGAN</h2>

    <div class="container">
        <div class="edition_row70">
            <div class="edition_img">
                <img src="{% static 'images/editions/2019/vendredi/jean_baptiste_guegan_01.jpg' %}">
            </div>
            <div class="edition_img">
                <img src="{% static 'images/editions/2019/vendredi/jean_baptiste_guegan_02.jpg' %}">
            </div>
        </div>
    </div>

    <div class="container">
        <div class="edition_row70">
            <div class="edition_img">
                <img src="{% static 'images/editions/2019/vendredi/jean_baptiste_guegan_03.jpg' %}">
            </div>
            <div class="edition_img">
                <img src="{% static 'images/editions/2019/vendredi/jean_baptiste_guegan_04.jpg' %}">
            </div>
        </div>
    </div>

    <div class="container">
        <div class="edition_row70">
            <div class="edition_img">
                <img src="{% static 'images/editions/2019/vendredi/jean_baptiste_guegan_05.jpg' %}">
            </div>
        </div>
    </div>

    <h2 style="margin:5vh 0 2vh 0">Inauguration</h2>

    <div class="container">
        <div class="edition_row70">
            <div class="edition_img">
                <img src="{% static 'images/editions/2019/vendredi/inauguration_01.jpg' %}">
            </div>
            <div class="edition_img">
                <img src="{% static 'images/editions/2019/vendredi/inauguration_02.jpg' %}">
            </div>
        </div>
    </div>

    <h2 style="margin:5vh 0 2vh 0">Concours de Pineau</h2>

    <div class="container">
        <div class="edition_row70">
            <div class="edition_img">
                <img src="{% static 'images/editions/2019/vendredi/concours_pineau_01.jpg' %}">
            </div>
            <div class="edition_img">
                <img src="{% static 'images/editions/2019/vendredi/concours_pineau_02.jpg' %}">
            </div>
        </div>
    </div>

    <h2 style="margin:5vh 0 2vh 0">Passage de Piqthiu sur la Foire</h2>

    <div class="container">
        <div class="edition_row70">
            <div class="edition_img">
                <img src="{% static 'images/editions/2019/vendredi/piqthiu.jpg' %}">
            </div>
        </div>
    </div>

    <h2 style="margin:5vh 0 2vh 0">La Compagnie ECMA (groupe de Pons)</h2>

    <div class="container">
        <div class="edition_row70">
            <div class="edition_img">
                <img src="{% static 'images/editions/2019/vendredi/compagnie_ecma_01.jpg' %}">
            </div>
            <div class="edition_img">
                <img src="{% static 'images/editions/2019/vendredi/compagnie_ecma_02.jpg' %}">
            </div>
        </div>
    </div>

    <div class="container" style="margin-top:5vh;">
        <div class="titre_ordi">
        <h1>- - - - - - - - - - - - - - - - - - - - - - - - &nbsp;SAMEDI 31-08-2019&nbsp; - - - - - - - - - - -
            - - - - - - - - - - - - -</h1>
        </div>
        <div class="titre_tel_small">- - - &nbsp;SAMEDI 31-08-2019&nbsp; - - -</div>
    </div>

    <h2 style="margin:5vh 0 2vh 0">Inès et Jenifer</h2>

    <div class="container">
        <div class="edition_row70">
            <div class="edition_img">
                <img src="{% static 'images/editions/2019/samedi/ines_01.jpg' %}">
            </div>
            <div class="edition_img">
                <img src="{% static 'images/editions/2019/samedi/jenifer_01.jpg' %}">
            </div>
        </div>
    </div>

    <h2 style="margin:5vh 0 2vh 0">Inès (Podium gastronomie)</h2>

    <div class="container">
        <div class="edition_row70">
            <div class="edition_img">
                <img src="{% static 'images/editions/2019/samedi/ines_02.jpg' %}">
            </div>
            <div class="edition_img">
                <img src="{% static 'images/editions/2019/samedi/ines_03.jpg' %}">
            </div>
        </div>
    </div>

    <h2 style="margin:5vh 0 2vh 0; text-align:center">Thomas Bonneau (Podium gastronomie)</h2>

    <div class="container">
        <div class="edition_row70">
            <div class="edition_img">
                <img src="{% static 'images/editions/2019/samedi/thomas_bonneau_01.jpg' %}">
            </div>
            <div class="edition_img">
                <img src="{% static 'images/editions/2019/samedi/thomas_bonneau_02.jpg' %}">
            </div>
        </div>
    </div>

    <h2 style="margin:5vh 0 2vh 0">Les aînés</h2>

    <div class="container">
        <div class="edition_row70">
            <div class="edition_img">
                <img src="{% static 'images/editions/2019/samedi/aines_01.jpg' %}">
            </div>
            <div class="edition_img">
                <img src="{% static 'images/editions/2019/samedi/aines_02.jpg' %}">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="edition_row70">
            <div class="edition_img">
                <img src="{% static 'images/editions/2019/samedi/aines_02.jpg' %}">
            </div>
            <div class="edition_img">
                <img src="{% static 'images/editions/2019/samedi/aines_03.jpg' %}">
            </div>
        </div>
    </div>

    <h2 style="margin:5vh 0 2vh 0">Le Rallye St Hilaire</h2>

    <div class="container">
        <div class="edition_row70">
            <div class="edition_img">
                <img src="{% static 'images/editions/2019/samedi/rallye_01.jpg' %}">
            </div>
            <div class="edition_img">
                <img src="{% static 'images/editions/2019/samedi/rallye_02.jpg' %}">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="edition_row70">
            <div class="edition_img">
                <img src="{% static 'images/editions/2019/samedi/rallye_03.jpg' %}">
            </div>
            <div class="edition_img">
                <img src="{% static 'images/editions/2019/samedi/rallye_04.jpg' %}">
            </div>
        </div>
    </div>

    <h2 style="margin:5vh 0 2vh 0">Remise de Prix</h2>

    <div class="container">
        <div class="edition_row70">
            <div class="edition_img">
                <img src="{% static 'images/editions/2019/samedi/prix_01.jpg' %}">
            </div>
            <div class="edition_img">
                <img src="{% static 'images/editions/2019/samedi/prix_02.jpg' %}">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="edition_row70">
            <div class="edition_img">
                <img src="{% static 'images/editions/2019/samedi/prix_03.jpg' %}">
            </div>
            <div class="edition_img">
                <img src="{% static 'images/editions/2019/samedi/prix_04.jpg' %}">
            </div>
        </div>
    </div>

    <div class="container" style="margin-top:5vh;">
        <div class="titre_ordi">
        <h1>- - - - - - - - - - - - - - - - - - - - - - - &nbsp;DIMANCHE 01-09-2019&nbsp; - - - - - - - - - - -
            - - - - - - - - - - - -</h1>
        </div>
        <div class="titre_tel_small">- - - &nbsp;DIMANCHE 01-09-2019&nbsp; - - -</div>
    </div>

    <h2 style="margin:5vh 0 2vh 0">Patrick Sébastien</h2>

    <div class="container">
        <div class="edition_row70">
            <div class="edition_img">
                <img src="{% static 'images/editions/2019/dimanche/patrick_sebastien_01.jpg' %}">
            </div>
            <div class="edition_img">
                <img src="{% static 'images/editions/2019/dimanche/patrick_sebastien_02.jpg' %}">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="edition_row70">
            <div class="edition_img">
                <img src="{% static 'images/editions/2019/dimanche/patrick_sebastien_03.jpg' %}">
            </div>
            <div class="edition_img">
                <img src="{% static 'images/editions/2019/dimanche/patrick_sebastien_04.jpg' %}">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="edition_row70">
            <div class="edition_img">
                <img src="{% static 'images/editions/2019/dimanche/patrick_sebastien_05.jpg' %}">
            </div>
            <div class="edition_img">
                <img src="{% static 'images/editions/2019/dimanche/patrick_sebastien_06.jpg' %}">
            </div>
        </div>
    </div>

    <h2 style="margin:5vh 0 2vh 0">Remise de récompense</h2>

    <div class="container">
        <div class="edition_row70">
            <div class="edition_img">
                <img src="{% static 'images/editions/2019/dimanche/recompense_01.jpg' %}">
            </div>
            <div class="edition_img">
                <img src="{% static 'images/editions/2019/dimanche/recompense_02.jpg' %}">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="edition_row70">
            <div class="edition_img">
                <img src="{% static 'images/editions/2019/dimanche/recompense_03.jpg' %}">
            </div>
            <div class="edition_img">
                <img src="{% static 'images/editions/2019/dimanche/recompense_04.jpg' %}">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="edition_row70">
            <div class="edition_img">
                <img src="{% static 'images/editions/2019/dimanche/recompense_05.jpg' %}">
            </div>
            <div class="edition_img">
                <img src="{% static 'images/editions/2019/dimanche/recompense_06.jpg' %}">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="edition_row70">
            <div class="edition_img">
                <img src="{% static 'images/editions/2019/dimanche/recompense_07.jpg' %}">
            </div>
            <div class="edition_img">
                <img src="{% static 'images/editions/2019/dimanche/recompense_08.jpg' %}">
            </div>
        </div>
    </div>




</div>


{% endblock content %}