{% extends 'base.html' %}
{% block head_title %}{{ head_title }}{% endblock %}
{% load static %}


{% block slider %}

<a href="{% url 'index' %}">
    <img src="{% static 'images/logo.png' %}" class="logo">
</a>
<img src="{% static 'images/2022/infos_entete.jpg' %}">

{% endblock slider %}


{% block content %}

<div class="container" style="flex-wrap:wrap; margin-top:5vh; margin-bottom:5vh">
    <div class="container" style="margin-bottom: 5vh">
        <h1 style="text-align:center">La foire Exposition de Barbezieux c'est plus de 270 exposants, 29 000 visiteurs,
            <br>40 animations, 3 grandes vedettes de la chanson,
            <br>3 jours de manifestation sur 3 hectares.</h1>
    </div>

    <div class="container" style="margin-top:5vh; margin-bottom:5vh;">
        <div class="titre_ordi">
        <h1>- - - - - - - - - - - - - - - - - - - - - - - - &nbsp;HORAIRES & TARIFS&nbsp; - - - - - - - - - - -
            - - - - - - - - - - - - -</h1>
        </div>
        <div class="titre_tel">- - - &nbsp;HORAIRES & TARIFS&nbsp; - - -</div>
    </div>

    <div class="col">
        <h2 style="margin-bottom:5vh">HORAIRES</h2>

        <h3>LA FOIRE EXPOSITION DE BARBEZIEUX</h3>
        <h3>SE TIENDRA <span style="font-weight:bold">LES 2, 3 et 4 SEPTEMBRE 2022</span></h3>
        <div class="col" style="margin-top:3vh; margin-bottom:3vh">
            <h3>Ouverture de la foire : <span style="font-weight:bold">09h30</span></h3>
            <h3>Fermeture de la foire : <span style="font-weight:bold">20h30</span></h3>
            <h3>Fermeture de l'espace gastronomie : <span style="font-weight:bold">00h00</span></h3>
        </div>

    </div>

    <div class="col" style="margin-top:5vh">
        <h2>TARIFS 2022</h2>
        <div style="margin-top:5vh"><h3>Entrée et spectacle : <span class="bold">7 euros</span></h3></div>
        <div><h3>(sans réservation)</h3></div>
        <div style="margin-top:5vh"><h3>Forfait 2 jours : <span class="bold">12 €</span></h3></div>
        <div><h3>Forfait 3 jours : <span class="bold">18 €</span></h3></div>
        <div style="margin-top:5vh"><h3>Tarif réduit de 6 à 12 ans : <span class="bold">4 €</span></h3></div>
        <div><h3>Gratuit jusqu'à 6 ans</h3></div>
    </div>

    <div class="col" style="margin-top:5vh">
        <h2>PARKINGS</h2>
        <div style="margin-top:5vh"><h3>Parking Handicapé</h3></div>
        <div><h3>Parking Camping car</h3></div>
        <div><h3>Tous les Parking sont gratuits pendant la durée de la foire</h3></div>
    </div>


</div>


{% endblock content %}


